<li class="list-item">
  <a href="{{ item.url }}" class="list-link">
    <span class="kicker-small">{{ item.data.lane | laneName }}</span>
    <span class="list-title">{{ item.data.title }}</span>
    <span class="list-dek">{{ item.data.dek }}</span>
    <span class="list-meta"><time datetime="{{ item.date | isoDate }}">{{ item.date | readableDate }}</time> · {{ item.data.readingTime }} min</span>
  </a>
</li>
