<li class="list-item lane-{{ item.data.lane }}">
  <a href="{{ item.url }}" class="list-link">
    <span class="list-side"><span class="kicker-small">{{ item.data.lane | laneName }}</span><time class="list-date" datetime="{{ item.date | isoDate }}">{{ item.date | readableDate }}</time><span class="list-read">{{ item.data.readingTime }} min · {{ item.data.sources }} sources</span></span>
    <span class="list-main"><span class="list-title">{{ item.data.title }}</span><span class="list-dek">{{ item.data.dek }}</span></span>
  </a>
</li>
