---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if p.url and not p.data.noindex and p.url != "/404.html" %}
  <url><loc>{{ site.url }}{{ p.url }}</loc>{% if p.data.updated %}<lastmod>{{ p.data.updated | isoDate }}</lastmod>{% endif %}</url>
{%- endif %}{% endfor %}
</urlset>
